#controls {
  border: thin 1px #333;
}

#controls div {
  padding: 3px;
}

#content {
  background: #666666;
}

#content .object {
  position: absolute;
  background: blue;
}

#dialog {
  display: none;
  font-size: 13px;
}